body {
  font-family: "helvetica neue", "helvetica", arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited {
  color:#1E6B9F;
}
a:active {
  color: #d9e4eb;
}

h1, h2 {
  color: inherit;
}

h1 {
  font-family: "bello-pro-1","bello-pro-2",sans-serif;
  font-weight: normal;
  text-shadow: 0 0.13em #000;
  margin: 0;
  font-size: 3em;
}
h1 > a, h1 > a:visited, h1 > a:hover {
  color: #FFF;
  text-decoration: none;
}

#header {
  background-color: #1E6B9F;
  color: #FFFBFF;
  padding: 1em;
}

#content {
  margin: 1em;
}

#footer {
  background-color: #EEE;
  overflow: auto;
}
#footer > aside {
  float: left;
  max-width: 200px;
  margin: 1em 3em;
}
#footer > aside > h3 {
  font-size: 1em;
  font-weight: bold;
}
#footer > aside > ul {
  padding: 0;
  margin: 0;
}
#footer > aside > ul > li {
  list-style: none;
}
#footer > aside a {
  text-decoration: none;
}
#footer > aside a:hover {
  text-decoration: underline;
}

/* Home Page */
body.home {
  margin-left: 4em;
  color: #FFFBFF;
  background-color:#1E6B9F;
}
body.home a, 
body.home a:hover, 
body.home a:visited {
  color:#FFFBFF;
}

body.home #header {
}

body.home h1 {
  margin-top: 260px; 
  font-size: 6em;
  text-shadow: 0 0.06em #000;
}

