@import "blueprint";
@import "blueprint/interaction";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/links";
@import "compass/typography/text/replacement";

// Config
$activity-blue: #1E6B9F;

$blueprint-liquid-grid-columns: 24;
$blueprint-liquid-container-max-width: 950px;

$blueprint-table-stripe-color: #F0F3F9;

$blueprint-font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
$blueprint-fixed-font-family: "andale mono", "lucida console", monospace;
$blueprint-title-font-family: "bello-pro-1","bello-pro-2",sans-serif;
$blueprint-font-size: 13px;

$link-color: #1e6b9f;
$link-hover-color: $link-color;
$link-visited-color: $link-color;
$link-active-color: #d9e4eb;


@import "blueprint/reset";
@include blueprint;
@include blueprint-interaction;

#wrapper {
  @include container;
  margin: 0;
}
#header {
  > h1 {
    background-color: $activity-blue;
    border-bottom: 4px solid #333;
    font-family: $blueprint-title-font-family;
    font-weight: normal;
    text-shadow: 0 0.13em #000;
    margin: 0;
    padding: 0 0.5em;

    a, a:visited, a:hover {
      font-size: .75em;
      line-height: 2em;
      color: #FFF;
      text-decoration: none;
    }
  }

  > nav {
    border-bottom: 1px solid #ccc;
    padding: 0 1em;

    > ul {
      @include horizontal-list;

      li:first-child {
        > a {
          display: block;
          @include replace-text('/images/icon/white-32.png');
        }
      }

      a {
        padding: 0 1em;
        color: #666;
        font-weight: bold;
        line-height: 3em;
        @include hover-link;
      }
    }
  }
}

#content {
  overflow: auto;
  margin: 1em;
}

#footer {
  text-align: right;
  border-top: 1px solid #999;
  padding: 0.5em 1em;
  font-size: 85%;
  color: #999;
  line-height: 2em;
}


.box {
  border: 1px solid #999;
  background: #eee;
  padding: 1em;
  margin-bottom: 1em;

  &.left {
    float: left;
    margin-right: 1em;
  }
  &.right {
    float: right;
    margin-left: 1em;
  }

  > h3 {
    font-size: 1em;
    font-weight: bold;
  }
  > ul {
    margin: 0;
  }
}


// registry
body.registry {
  .warning {
    @include error();
    > p:last-child {
      margin-bottom: 0;
    }
  }

  table {
    border: 1px solid #CCC;
  }

  th, .name, .property, .spec {
    white-space: nowrap;
  }

  th {
    padding: 6px 12px;
  }
  td {
    padding: 10px 12px;
    border-right: 1px solid #fff;
    vertical-align: top;
  }

  tr.draft {
    .spec::after {
      content: " (Draft)";
      color: $error-color;
      font-size: 85%;
    }
  }
}
