---
layout: default
---
  <header id="header">
    <h1><a href="/">Activity Streams</a></h1>
  </header>

  <div id="content">
    {{ content }}
  </div>

  <footer id="footer">
    <aside class="specs">
      <h3>Resources</h3>
      <ul>
        <li><a href="http://groups.google.com/group/activity-streams/">Mailing List</a></li>
        <li><a href="http://wiki.activitystrea.ms/">Wiki</a></li>
        <li><a href="http://activitystrea.ms/registry/">Schema Registry</a></li>
        <li><a href="http://github.com/activitystreams">GitHub</a></li>
      </ul>
    </aside>

    <aside class="specs">
      <h3>Specs</h3>
      <ul>
        <li><a href="/specs/json/1.0">JSON Activity Streams</a></li>
        <li><a href="/specs/atom/1.0">Atom Activity Streams</a></li>
        <li><a href="/specs/schema/1.0">Activity Schema</a></li>
      </ul>
    </aside>
  </footer>
